@page "/inventories"

<h3>InventoryList</h3>

<br />
<br />
<InventoryListComponent SearchInventoryFilter="t"></InventoryListComponent>
<br />

<a href="/addinventory" class="btn btn-primary">Add Inventory</a>

@code {

}
