@page "/inventories"

<h3>Inventory List</h3>
<i class="fs-6 fst-italic">
    The search and delete operations use <strong>static server-side rendering with the `&lt;EditForm Enhance="true"&gt;`</strong>, which results in <strong>partial page rendering</strong> instead of a <strong>full page refresh.</strong> 
</i>

<br />
<br />
<SearchComponent OnSearch="HandleOnSearch"></SearchComponent>
<br />
<InventoryListComponent SearchInventoryFilter="@inventoryNameToSearch"></InventoryListComponent>
<br />

<a href="/addinventory" class="btn btn-primary">Add Inventory</a>

@code {
    private string inventoryNameToSearch = string.Empty;

    private void HandleOnSearch(string searchFilter)
    {
        inventoryNameToSearch = searchFilter;
    }
}
