@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase


<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (inventories is not null && inventories.Count > 0)
            {
                foreach (var inventory in inventories)
                {
                    <InventoryListItemComponent Inventory="inventory"></InventoryListItemComponent>
                }
            }
        </tr>
    </tbody>
</table>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}