@inject IDeleteProductByIdUseCase DeleteProductByIdUseCase

@if (Product is not null)
{
    <td>@Product.ProductName</td>
    <td>@Product.Quantity</td>
    <td>@Product.Price.ToString("c")</td>
    <td>
        <a class="btn btn-light" href="/editproduct/@Product.ProductId">Edit</a>
    </td>
    <td>
        <button type="button" class="btn btn-danger" @onclick="async () => await HandleDelete(Product.ProductId)">Delete</button>
    </td>
}

@code {
    [Parameter]
    public Product? Product { get; set; }

    private async Task HandleDelete(int productId)
    {
        await DeleteProductByIdUseCase.ExecuteAsync(productId);
        Product = null;
    }
}
